.tweet-this {
    margin: 2em;
    padding: 1em 2em 1em 2em;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center;
    position: relative;
}

.tweet-this p {
    font-family: Georgia, serif;
    font-weight: bold;
    font-style: italic;
    font-size: 1.4em;
}

.tweet-this > span {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 1.4em;
}

.tweet-this + .footnote {
    border-top: none;
    padding-top: 1em;
}

a.button.tweet-button,
a:hover.button.tweet-button{
    background-color: #dddddd !important;
    color: #3393FF !important;
    display: table !important;
    font-size: 1em;
    margin: 1em auto -3em !important;
    padding: 1em 3em !important;
}

.tweet-button span {
    margin-right: 7px
}